# sensitive files (implement yourself)
class/SLAuthentication.php
class/SLNotification.php

# composer files
composer.phar
composer.lock
vendor

# bower components
htdocs/component/*
!htdocs/component/sobremesa
!htdocs/component/sb-admin

# IDE files
.idea